:host {
  margin: 1rem auto;
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  display: grid;
  max-height: calc(100vh - 6rem);
  max-width: calc(100vh - 6rem);
  display: grid;
  grid-template-rows: 1.5rem repeat(8, 1fr) 1.5rem;
  grid-template-columns: 1.5rem repeat(8, 1fr) 1.5rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pawn-manager {
  top: 1.5rem;
  left: 1.5rem;
}